@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wdth,wght@100,100;100,200;100,300;100,400;100,500;100,600;100,700;118.1,453&display=swap');

:root {
    --accent-bg-color: rgb(65, 65, 65);
    --accent-button-color: rgb(189, 189, 189);
    --accent-button-hover-color: rgb(130, 130, 130);
    --accent-color: #000000;
    --accent-hover-color: #e8e8e8;
    --accent-text-color: #d0d0d0;
}

body, .root {
    font-family: 'Arial', sans-serif !important;
    background-color:#222222 !important;
    color: var(--accent-text-color) !important;
    font-size: 16px !important;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}


.list-exchange {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.list-exchange > * {
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.data-exchange {
    display: flex;
    flex-direction: column;
}

.data-exchange > * {
    margin: 5px;
}

.spread-value {
    box-sizing: border-box;
    border-radius: 9px;
    padding: 3px 3px 3px 10px;
}

.triger-spread-green {
    background-color: rgb(69, 165, 24);
}
.triger-spread-red {
    background-color: rgba(255, 0, 0, 0.791);
}

.best-order-book {
    display: flex;
    flex-direction: column;
}

.best-order-book > * {
    margin: 2px 5px 0 0;
}

.ask {
    color: rgba(255, 0, 0, 0.791);
}

.bid {
    color: rgb(69, 165, 24);
}

.curruncy-spread {
    border: 2px solid #222222;
    border-radius: 1%;
    margin: 3px;
}

.list-currency-spread {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.list-balance-exchange {
    display: flex;
}

.form-withdrawal {
    display: flex;
    flex-direction: column;
}

.error_withdrawal {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.success_withdrawal {
    background-color: green;
    border-radius: 5px;
}

.table-scaner {
    padding: 15px 0;
}
.class-body-new {
    padding: 7px;
}

.balance-free-float {
    padding: 4px;
    border: 1px solid rgb(119, 119, 119) !important;;
    border-radius: 9px;
    text-align: center;
    letter-spacing: 1px;
}

hr {
    border: none; 
    background-color: red; 
    color: red; 
    height: 2px;
}

.btn {
    padding: 5px 15px !important;
    text-align: center;
    justify-items: center;
}
.btn-primary, .btn-secondary {
    box-sizing: border-box;
    background-color:  var(--accent-button-color) !important;
    color: var(--accent-color) !important;
    border: 1px solid var(--accent-button-color) !important;
    outline: 0 !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
    border-radius: 9px !important;
    margin: 0 5px !important;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: var(--accent-button-hover-color) !important;
    color: var(--accent-hover-color) !important;
    border: 1px solid var(--accent-button-hover-color) !important;
}

.btn-primary:active {
    transform: scale(0.9);
}

button {
    outline: 0 !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
    border-radius: 9px !important;
    margin: 0 5px !important;
}

.dropdown-item {
    background-color: var(--accent-button-hover-color) !important;
    color: var(--accent-hover-color) !important;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: var(--accent-button-color) !important;
    color: var(--accent-color) !important;
}
.dropdown-menu {
    background-color: var(--accent-button-hover-color) !important;
    color: var(--accent-hover-color) !important;
    border-radius: 9px !important;
    box-sizing: border-box;
    max-height: 300px;
    position: absolute !important;
    overflow: hidden;
    overflow-y: scroll;
}


.col {
    margin: 0 !important;
}

.card {
    background-color: var(--accent-bg-color) !important;
    border: 1px solid var(--accent-bg-color) !important;
    border-radius: 0 0 10px 10px !important;
    margin: 0;             
}



.card-header {
    background-color: rgb(119, 119, 119) !important;
    border-bottom: 1px solid rgb(119, 119, 119) !important;
    border-radius: 9px 9px 4px 4px !important;
}

.card-footer {
    border-top: 1px solid rgb(119, 119, 119) !important;
}

.offcanvas {
    background-color: var(--accent-bg-color) !important;
}

.list-group-item {
    background-color: var(--accent-bg-color) !important;
    color: var(--accent-text-color) !important;
}

.show-balance {
    margin: 13px 13px 0 13px !important;
}

.form-control {
    border-radius: 9px !important;
}

.form-control:active {
    box-shadow: 2px 2px var(--accent-button-hover-color),
                2px -2px var(--accent-button-hover-color),
                -2px 2px var(--accent-button-hover-color),
                -2px -2px var(--accent-button-hover-color) !important;
}

.input-group .dropdown-toggle {
    overflow: hidden;
    flex-basis: 100px !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
}

.not-found-window {
    text-align: center;
}

input {
    background-color: var(--accent-button-color) !important;
    color: var(--accent-color) !important;
    outline: none;
}
input:focus {
    background-color: var(--accent-button-color) !important;
    box-shadow: var(--accent-button-hover-color) !important;
}

.sort-position {
    padding: 0 !important;
}

.sort-position-drop > *{
    float: right;
}

.check-exchanges {
    padding: 0 !important;
    margin: auto auto 0;
}

.form-check {
    margin: 5px!important;
    padding: 0 !important;
}

.form-check-input {
    opacity: 0;
}
.form-check-input:checked ~ .form-check-label {
    background-color: rgb(119, 119, 119);
}

.form-check-label {
    color: var(--accent-text-color) !important;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 9px;
    margin: 1px 0;
    text-align: center;
}

.set-text-refresh {
    position: relative;
}

.set-text-refresh > * {
    position: absolute;
    top: calc(50% - 12px);
}

.filter-menu {
    position: sticky;
    top: 0;
    padding: 10px 0 5px 0;
    margin: 0;
    background-color: #222222 !important;
    z-index: 10;
    border-radius: 0 0 15px 15px;
}

.position-relative {
    position: relative;
}

.delete-close-curs {
    position: absolute;
    top: 12px;
    right: 6px;
    height: 10px !important;
    width: 10px !important;
    background-color: rgb(132, 132, 132) !important;
}

input[type='text'],
input[type='number'],
input {
    font-size: 16px;
}

.vol24 {
    display: flex;
    flex-direction: column;
}

.vol24 > .vol24-quote {
    color: #d0d0d07b;
}

.url-exchange-stock {
    text-decoration: none;
    color: var(--accent-text-color);
}

.url-exchange-stock:hover {
    color: var(--accent-button-hover-color);
}

.btn-close-exchange {
    padding: 5px 0 !important;
    margin: 5px 0 0 !important;
    background-color: #41404000 !important;
    border: none !important;
    color: var(--accent-text-color) !important;
}

.btn-close-exchange:hover {
    border: none !important;
    background-color: #41404016 !important;
}

.btn-close-exchange:active {
    transform: scale(0.99) !important;
}

.grah {
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
    height: "150px" !important;
}

.nav-pills {
    display: flex;
    background-color: rgb(119, 119, 119) !important;
    border-bottom: 1px solid rgb(119, 119, 119) !important;
    border-radius: 9px 9px 0px 0px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.tab-content {
    margin: 0 !important;
    padding: 0 !important;
}

.nav-link {
    padding: 0 !important;
}

.nav-link:not(.disabled) {
    box-sizing: border-box;
    background-color:  rgb(119, 119, 119) !important;
    color: var(--accent-color) !important;
    outline: 0 !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    text-align: center;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 0 !important;    
}

.nav-link.active {
    border-bottom: 1px solid var(--accent-button-color) !important;
}

.nav-pills:first-child {
    margin-right: auto !important;
}

.disabled {
    background-color: none !important;
    color: var(--accent-text-color) !important;
    margin: 5px 10px !important;
}

.list-pair-spread > * {
    margin: 10px 0 !important;
}

.nameGraph {
    color: var(--accent-text-color);
    text-decoration: none;
    width: 60px !important;
}
.nameGraph:hover {
    color: var(--accent-button-hover-color);
}