@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body, .root {
    font-family: sans-serif;
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #222222);
    font-size: 16px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}

.list-exchange {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.list-exchange > * {
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.data-exchange {
    display: flex;
    flex-direction: column;
}

.data-exchange > * {
    margin: 5px;
}

.triger-spread-green {
    background-color: rgb(69, 165, 24);
    border-radius: 4px;
}
.triger-spread-red {
    background-color: rgba(255, 0, 0, 0.791);
    border-radius: 4px;
}

.best-order-book {
    display: flex;
    flex-direction: column;
}

.best-order-book > * {
    margin: 2px 5px 0 0;
}

.ask {
    color: rgba(255, 0, 0, 0.791);
}

.bid {
    color: rgb(69, 165, 24);
}

.curruncy-spread {
    border: 2px solid #222222;
    border-radius: 1%;
    margin: 3px;
}

.list-currency-spread {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.list-balance-exchange {
    display: flex;
}

.form-withdrawal {
    display: flex;
    flex-direction: column;
}

.error_withdrawal {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.success_withdrawal {
    background-color: green;
    border-radius: 5px;
}

.table-scaner {
    padding: 15px 0;
}
.class-body-new {
    padding: 3px;
}

.balance-free-float {
    padding: 4px;
    border: #666666 solid 1px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
}

hr {
    border: none; 
    background-color: red; 
    color: red; 
    height: 2px;
}

.btn {
    background-color: var(--tg-theme-bg-color, rgba(0, 0, 0, 0.072)) !important;
    color: var(--tg-theme-text-color, #222222) !important;
    border: var(--tg-theme-text-color, rgba(0, 0, 0, 0.072)) !important;;
}

.btn:hover {
    background-color: var(--tg-theme-bg-color, #a2a8a6bd) !important;
    color: var(--tg-theme-text-color, #222222) !important;
    border: var(--tg-theme-text-color, #a2a8a6bd) !important;;
}
